BannerEditor/Orc.BannerEditor/App_Data/NuGetBackup/
BannerEditor/Orc.BannerEditor/packages/
BannerEditor/Orc.BannerEditor/.vs/
BannerEditor/Orc.BannerEditor/obj/Debug/
BannerEditor/Orc.BannerEditor/bin/Debug/
node_modules/
